.large-hero{
	position: relative;/*starš vse
	bini*/

	&__image{
		display: block;
	}

	&__text-content{
		position: absolute;
		top: 50%;
		transform: translateY(-60%);
		left:0;
		width: 100%;
		text-align: center;

		@mixin atMedium{
			top:50%;
			transform: translateY(-40%);
			left:0;
			width: 100%;
		}

		@mixin atLarge{
			transform: translateY(-80%);
		}

	}

	&__title{
		font-size: 3rem;
		font-weight: 300;
		margin-bottom: 0;

		@mixin atMedium{
			font-size: 5rem;
		}

		@mixin atLarge{
			font-size: 9rem;
		}
		
	}

	&__subtitle{
		margin-top: .2rem;
		font-size: 1.2rem;
		font-weight: 300;

		@mixin atMedium{
			font-size: 1.9rem;
		}

		@mixin atLarge{
			font-size: 3.6rem;
		}
	}

	&__quote{

		font-weight: 300;
		margin: 1rem auto 0 auto;
		line-height: 1.2rem;
		max-width: 17rem;
		letter-spacing: 2px;
		font-size: .8rem;
		text-shadow: 1px 1px 10px 1px #333;

		@mixin atMedium{
			margin: 1.4rem auto 0 auto;
			max-width: 35rem;
			line-height: 1.5rem;
			font-size: 1.2rem;
		}

		@mixin atLarge{
			margin: 1.4rem auto 0 auto;
			max-width: 50rem;
			line-height: 3rem;
			font-size: 2rem;
		}
	}

	&__author{
	
		margin-top: .2rem;
		font-weight: 400;
		font-size: 1.2rem;

		@mixin atMedium{
			margin-top: 1rem;
			font-size: 1.3rem;
		}

		@mixin atLarge{
			margin-top: 1.2rem;
			font-size: 2rem;
		}
	}


}